{% extends "template.html" %}

{% block title %}Finished {% endblock %}

{% block center_content %}
    <p>Thanks for using Keef Music!</p>
    <form action="/" method="get">
    <input type="submit" value="Convert Another"
         name="Submit" />
</form>
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"vdyagilev5","width":550,"height":250,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
{% endblock %}

{% block scripts %}
<script>
    var file = "{{ zipFile }}";
    window.location = "http://45.55.179.218/serveFile/" + file;
</script>
{% endblock %}